<%- include('header.ejs') %>

    <style>
        .card {
            padding: 5px;
            background-color: #f5f5f5;
        }

        .container {
            padding-top: 20px;
        }

        .margin-card {
            margin: 20px;
        }
    </style>
    <div class="container">
        <h2>Detalles del Producto</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="/productosupdate" method="POST">
                            <div class="row">
                                <div class="col-md-10">
                                    <label for="nom">Nombre:</label>
                                    <input type="text" name="id" hidden value="<%= producto.id %>"
                                        class="form-control ">
                                    <input type="text" id="nom" name="nom" value="<%= producto.nom %>"
                                        class="form-control ">
                                </div>
                                <div class="col-md-12">
                                    <label for="preu">Precio:</label>
                                    <input type="number" id="preu" name="preu" value="<%= producto.preu %>"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="margin-card">
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer.ejs') %>